<!DOCTYPE html>
<html ng-app="SimpleApp">

<head>
	<title>Example Page</title>
	<meta charset="utf-8">
	<style>
		body {
			padding: 40px;
			font-family: 'Trebuchet MS', sans-serif;
		}
        .data-card {
            background: #EEEEEE;
            width: 80%;
            padding: 5px 20px;
            margin: 20px 0px;
            font-size: .9em;
        }
        .data-card p {
            margin: 5px 0px;
        }
	</style>
</head>

<body ng-controller="SimpleCtrl">
	<h1>Hello World!</h1>
	<p>This is an example page. Click on <b>Request Data</b> to retrieve some data from the server.</p>

    <button ng-click="requestData()">Request Data</button>

    <div class="data-card" ng-hide="data == ''" ng-repeat="character in data">
        <p><strong>Name: </strong><span>{{character.name}}</span></p>
        <p><strong>Email: </strong><span>{{character.email}}</span></p>
        <p><strong>Phone: </strong><span>{{character.phone}}</span></p>
    </div>

	<!-- AngularJS files -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="SimpleCtrl.js"></script>
</body>

</html>